@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --clr-red: hsl(0, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grayish-violet: hsl(270, 3%, 87%);
    --clr-dark-grayish-violet: hsl(279, 6%, 55%);
    --clr-very-dark-violet: hsl(278, 68%, 11%);
    --gradient: linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --ff: 'Space Grotesk', sans-serif;
    --transition: all 0.3s ease;
}
 
html {
    scroll-behavior: smooth;
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
}

body {
    font-size: 18px;
    margin: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff);
}

button {
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background-color: var(--clr-white);
    color: var(--clr-very-dark-violet);
}

.card-container {
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 10vw 0vw;
}

.card-back img {
    width: 75vw;
    height: auto;
    margin: 0vw 0vw 0vw 19vw;
}

.card-front {
    position: absolute;
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    color: var(--clr-white);
    text-transform: uppercase;
    top: 33vw;
    left: 6vw;
    border-radius: 2vw;
    box-shadow: 0vw 8vw 12vw rgba(0, 0, 0, 0.2);
}

.card-front img {
    width: 12vw;
    height: auto;
    margin: 6vw;
}

.card-front h2 {
    margin: 4vw 0vw;
    font-size: 1em;
    letter-spacing: 0.5vw;
    align-self: center;
}

.card-front span {
    letter-spacing: 0.5vw;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw 6vw 6vw 6vw;
}

.details span {
    font-size: 0.65rem;
}

.form-container {
    margin: 20vw 0vw 0vw 0vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form {
    margin: 0vw 6vw;
}

.form.show {
    display: none;
}

.name-div, .number-div, .date-div, .cvc-div {
    margin: 0vw 0vw 4vw 0vw;
}

label h2 {
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--clr-very-dark-violet);
    font-weight: 600;
    letter-spacing: 0.5vw;
    margin: 2vw 0vw;
}

input {
    width: 92%;
    padding: 4vw 0vw 4vw 6vw;
    border-radius: 2vw;
    border: 1px solid var(--clr-light-grayish-violet);
    font-family: var(--ff);
    font-size: 0.8em;
    color: var(--clr-very-dark-violet);
    cursor: pointer;
    transition: var(--transition);
}

input:focus {
    border: 1px solid var(--clr-very-dark-violet);
}

/* Error toggle start*/
.msg {
    font-size: 0.6em;
    width: auto;
    color: var(--clr-red);
    display: none;
}

.error .msg {
    display: inline;
}

.error input {
    border: 1px solid var(--clr-red);
}
/* Error toggle end */

::placeholder {
    color: var(--clr-light-grayish-violet);
}

.date-input {
    display: flex;
    flex-direction: row;
    width: 47vw;
}

.date-cvc {
    display: flex;
    flex-direction: row;
}

.mm-div, .yy-div {
    display: flex;
    flex-direction: column;
    width: 42%
}

.mm, .yy {
    width: 70%;
    margin: 0vw 0vw 2vw 0vw;
}

.yy-div {
    margin:0vw 0vw 0vw 3vw;
}

.cvc {
    width: 80%;
}

.submit-btn {
    font-family: var(--ff);
    font-weight: 500;
    font-size: 1em;
    color: white;
    border: none;
    background-color: var(--clr-very-dark-violet);
    width: 100%;
    margin: 4vw 0vw 0vw 0vw;
    padding: 4vw 0vw;
    border-radius: 2vw;
    border: 1px solid var(--clr-very-dark-violet);
}

/* Submit State Start*/
.submit-state {
    margin: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}

.submit-state.show {
    display: flex;
}

.text h2 {
    text-transform: uppercase;
    color: var(--clr-very-dark-violet);
    letter-spacing: 0.5vw;
    font-weight: 600;
}

.text span {
    color: var(--clr-dark-grayish-violet);
}

.continue-btn {
    font-family: var(--ff);
    font-weight: 500;
    font-size: 1em;
    color: white;
    border: none;
    background-color: var(--clr-very-dark-violet);
    width: 100%;
    margin: 12vw 0vw 0vw 0vw;
    padding: 4vw 0vw;
    border-radius: 2vw;
    border: 1px solid var(--clr-very-dark-violet);
}
/* Submit State End */


/* Tablet View */
@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
        width: 100vw;
        height: 100vh
    }

    .card-container {
        background-image: url(images/bg-main-desktop.png);
        width: 35vw;
        height: 100vh;
        padding: 0vw;
        align-items: center;
        justify-content: center;
    }
    
    .card-back img {
        width: 30vw;
        height: auto;
        margin: 36vw 0vw 0vw 30vw;
    }
    
    .card-front {
        position: relative;
        width: 30vw;
        color: var(--clr-white);
        text-transform: uppercase;
        top: -39vw;
        left: 8vw;
        border-radius: 1vw;
        box-shadow: 0vw 4vw 6vw rgba(0, 0, 0, 0.2);
    }
    
    .card-front img {
        width: 5vw;
        height: auto;
        margin: 3vw;
    }
    
    .card-front h2 {
        margin: 1vw 0vw 1.5vw 0vw;
        font-size: 0.8em;
        letter-spacing: 0.25vw;
    }
    
    .card-front span {
        letter-spacing: 0.25vw;
    }
    
    .details {
        margin: 0vw 2vw 3vw 2vw;
    }
    
    .details span {
        font-size: 0.65rem;
    }
    
    .form-container {
        margin: 0vw;
        width: 65vw;
        align-items: center;
        justify-content: center;
    }
    
    form {
        margin: 0vw 0vw 0vw 10vw;
        width: 30vw
    }
    
    .form.show {
        display: none;
    }
    
    .name-div, .number-div, .date-div, .cvc-div {
        margin: 0vw 0vw 2vw 0vw;
    }
    
    label h2 {
        font-size: 0.4em;
        letter-spacing: 0.25vw;
        margin: 1vw 0vw;
    }
    
    input {
        width: 96%;
        padding: 1vw 0vw 1vw 1vw;
        border-radius: 0.75vw;
        font-size: 0.5em;
    }

    /* Error toggle start*/
    .msg {
        font-size: 0.4em;
    }
    /* Error toggle end */
    
    .date-input {
        width: 16vw;
    }
   
    .mm-div, .yy-div {
        display: flex;
        flex-direction: column;
        width: 10vw
    }
    
    .mm, .yy {
        width: 5vw;
        margin: 0vw 0vw 1vw 0vw;
    }
    
    .yy-div {
        margin: 0vw 0vw 0vw 0vw;
    }
    
    .cvc {
        width: 91%;
        margin: 0vw 0vw 1vw 0vw;
    }
    
    .cvc-div {
        display: flex;
        flex-direction: column;
    }
    
    .submit-btn {
        font-size: 0.5em;
        margin: 2vw 0vw 0vw 0vw;
        padding: 2vw 0vw;
        border-radius: 1vw;
    }
    
    /* Submit State Start*/
    .submit-state {
        margin: 0vw 0vw 0vw 10vw;
        width: 30vw
    }

    .submit-state img  {
        width: 50%;
        height: auto;
    }
   
    .text h2 {
        letter-spacing: 0.25vw;
        font-size: 1.2em
    }

    .text span {
        font-size: 0.8em;
    }
    
    .continue-btn {
        font-size: 0.6em;
        margin: 4vw 0vw 0vw 0vw;
        padding: 1.5vw 0vw;
        border-radius: 1vw;
        width: 38vw
    }
    /* Submit State End */
}